name: Bundle Size Analysis

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: read
  pull-requests: write

jobs:
  bundle-size:
    name: Bundle size analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@virtualdisplay-io'
          cache: pnpm

      - name: Analyze bundle size
        uses: preactjs/compressed-size-action@v3
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './dist/**/*.{js,css}'
          exclude: '{**/*.map,**/node_modules/**}'
          strip-hash: "\\.[a-f0-9]{8}\\."
          minimum-change-threshold: 100
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI: true
