name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read
  pull-requests: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@virtualdisplay-io'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run all quality checks
        run: pnpm lint
        shell: bash

      - name: Run tests with coverage
        run: pnpm coverage
        shell: bash

      - name: Report coverage
        uses: davelosert/vitest-coverage-report-action@v2
        if: always()
        with:
          json-summary-path: ./coverage/coverage-summary.json
          json-final-path: ./coverage/coverage-final.json

      - name: Build project
        run: pnpm build
        shell: bash
