name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          scope: '@virtualdisplay.io'
          cache: 'pnpm'

      - name: Configure npm for GitHub Package Registry
        run: |
          echo "@virtualdisplay-io:registry=https://npm.pkg.github.com/" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GH_PAT }}" >> .npmrc

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash

      - name: Clean up GitHub Package Registry config
        run: |
          rm .npmrc

      - name: Build
        run: pnpm build
        shell: bash

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: 'Virtualdisplay Bot'
          GIT_AUTHOR_EMAIL: 'support@virtualdisplay.io'
          GIT_COMMITTER_NAME: 'Virtualdisplay Bot'
          GIT_COMMITTER_EMAIL: 'support@virtualdisplay.io'
        run: pnpm run release
